{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello guys ! My name is Harshwardhan Natu and I am a software developer. I am currently and undergrad BE(E&TC) and I'm pursuing my degree from DYPCOE,Pune.</p>
        <p>I have developed intrests in web development,machine learning and data science. I also love to play sports especially Cricket <3</p>
        <p>I have moved all around India due to my father's job. I've changed 6 schools ! Yeah that's a lot of memories left behind..But I'm always up for making new friends. You can reach me through the contacts page !</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}